* {
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "nav main";
}

#navbar {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 10;
    grid-area: nav;
    border-right: 3px solid rgb(133, 132, 132);
}

header {
    font-size: 1.1rem;
    padding: 1.3rem;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
}

li{
    list-style-type: circle;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

ul li {
    padding: 10px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    list-style: none;
}

a {
    margin-left: 1.1rem;
    font-size: 1.2em;
    color: rgb(54, 53, 53);
}

main {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: center;
    gap: 5px;
    grid-area: main;
}

#javascript_introducion{
    margin-top: 2.5rem;
}

section, p{
    margin-left: 20px;
    padding: 10px;
}

code{
    display: block;
    margin: 5px 0 10px 30px;
    padding: .5rem;
    background: rgba(128, 128, 128, 0.11);
}

span{
    display: block;
    margin: 5px;
}

code, span, strong {
    text-transform: lowercase;
}

@media (max-width: 800px) {

    body{
      grid-template-areas:
      "nav"
      "main";
    }

    #navbar{
      height: 15dvh;
      position: static;
      align-items: center;
      justify-content: space-evenly;
      border: 0;
    }

    header{
        position: static;
        padding: .7rem;
    }

    ul{
        align-items: start;
    }

    ul li{
        font-size: small;
        border: 0;
    }

    a{
      margin: 0;
    }

    section, p, code{
        margin: 5px 0 5px 0;
        font-size: 1.2rem;
    }

    li{
        margin-top: 5px;
    }

    #javascript_introducion{
        margin-top: 2px;
    }
}
